* {
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.wrapper {
    min-height: 400px;
    margin: 0 auto;
    width: 1000px;
}
.header { 
    width: 100%;
    height: 100px;
    border: 1px solid;
    background-color: aqua;
}
.logo {
    width: 80px;
    height: 80px;
    border: 1px solid;
    margin: 1%;
    float: left;
}
.logo img{
    width: 100%;
    height: 80px;
}
.title {
    width: 50%;
    height: 50px;
    border: 1px solid;
    margin: 3%;
    float: left;
    background-color: white;
}
.title h1 {color: black; font-family: Times New Roman; font-size: 36px; text-align: center}
.menu { 
    width: 100%;
    height: 40px;
    border: 1px solid;
    background-color: aqua;
}
.menu h2 {color: black; font-family: Times New Roman; font-size: 25px; text-align: left}

.Content { 
    width: 100%;
    height: 420px;
    border: 1px solid;
    overflow: hidden;
    background-color: aqua;
}
.left-content {
    width: 30%;
    min-height: 400px;
    border: 1px solid;
    float: left;
    margin: 1%;
    background-color: white;
}
.left-content img{
    width: 80px;
    height: 75px;
    float:left;
    margin:0 8px 4px 0;
    padding: 1%;
}
.left-content p {
    color: black; 
    font-family: Times New Roman; 
    font-size: 20px; 
    text-align:justify;
}
.left-content p1 {
    color: black; 
    font-family: Times New Roman; 
    font-size: 15px; 
    text-align:justify;
}
.right-content {
    width: 65%;
    min-height: 400px;
    border: 1px solid;
    float: left;
    margin: 1%;
    background-color: white;
}
.right-content p {
    color: black; 
    font-family: Times New Roman; 
    font-size: 15px; 
    text-align:justify;
}
.Footer { 
    width: 100%;
    height: 30px;
    border: 1px solid;
    background-color: aqua;
    text-align: center;
}
body {background-color: teal}

